## chap 3 Basic datatypes
### number ;  str ;  list

In [1]:
a=2
type(a)

int

In [2]:
b=2.4
type(b)

float

In [3]:
hi="hello"
type(hi)

str

In [4]:
l=[1,2,3,4,5]
print(type(l))
l[3]

<class 'list'>

4

In [5]:
l*2

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

### 3.1  Exercises with numbers

In [6]:
3/2   #除法

1.5

In [7]:
5//2    #除法取整

2

In [8]:
14%5      #求余

4

In [9]:
2**6      #幂次

64

In [10]:
def average(l):
    return sum(l)/len(l)

In [11]:
average((2,4))

3.0

In [12]:
average((12,14/6,15))

9.777777777777779

In [13]:
pi=3.1415
def volumn_of_sphere(r):
    return 4/3*pi*r**3

In [14]:
volumn_of_sphere(5)

523.5833333333333

In [15]:
def even_or_odd(x):
    if x%2==1:
        print("%d is odd"%x)
    else:
        print("%d is even"%x)

In [16]:
even_or_odd(5)

5 is odd

### 3.2  Exercises with strings

In [17]:
s="abc"
len(s)

3

In [18]:
ss=""
for i in range(len(s)):
    ss=s[i]+s[i]+s[i]+ss
    print(s[i])
print(ss)

a
b
c
cccbbbaaa

In [19]:
s1="aaabbbccc"
s1.find("b")

3

In [20]:
s1.find("ccc")

6

In [21]:
s1.replace("a","X")

'XXXbbbccc'

In [22]:
s1="aaabbbccc"
s1.replace("a","X",1)

'Xaabbbccc'

In [23]:
s2="aaa bbb ccc"
s2.upper()

'AAA BBB CCC'

In [24]:
s3="aaa bbb ccc"
s3=s3.replace("a","A")
s3=s3.replace("c","C")
s3

'AAA bbb CCC'

### 3.3 Exercises with lists

In [25]:
l=[1,4,9,10,23]
l[1:3]

[4, 9]

In [26]:
l.append(90)
l

[1, 4, 9, 10, 23, 90]

In [27]:
l.pop(1)
l.pop(1)
l

[1, 10, 23, 90]

## chap  4   Modules and functions

### 4.1 Exercises with the math module

In [28]:
def hcf(x, y):
    if x > y:
        smaller = y
    else:
        smaller = x
    for i in range(1,smaller + 1):
        if((x % i == 0) and (y % i == 0)):
            hcf = i
    return hcf

In [29]:
hcf(15,21)

3

In [30]:
import numpy as np
np.log2(2)

1.0

In [31]:
import math
x=int(input())

44

In [32]:
print(math.sin(x))

0.017701925105413577

In [33]:
print(math.cos(x))

0.9998433086476912

In [34]:
print(math.tan(x))

0.017704699278685777

### 4.2 Exercises with functions

In [35]:
def add2(x,y):
    return x+y
def add3(x,y,z):
    return x+y+z

In [36]:
add2(3,3)

6

In [37]:
add3(3,3,3)

9

In [38]:
def max(x,y):
    if x>y:
        max=x
    else:
        max=y
    return max

In [39]:
max(3,5)

5

In [40]:
def is_divisable(a,b):
    if a%b==0:
        return True
    else:
        return False

In [41]:
is_divisable(15,5)

True

In [42]:
def average(l):
    return sum(l)/len(l)

In [43]:
average([2,4,5,6,6,5])

4.666666666666667

### 4.3 Exercises with recursive functions

In [44]:
def fac(n):
    if n==1:
        return 1
    else:
        return n*fac(n-1)

In [45]:
fac(5)

120

In [46]:
def sum(n):
    if n==1:
        s4=1
    else:
        s4=n+sum(n-1)
    return s4

In [47]:
sum(5)

15

In [48]:
def fab(max):
    n,a,b=0,0,1
    while n<max:
        print(b)
        a,b=b,a+b
        n=n+1

In [49]:
fab(5)

1
1
2
3
5

## chap  5  Iteration and loops

### 5.1  Exercises with the for loop

In [50]:
def add(l):
    s=0
    for i in l:
        s=s+i
    return s
add([1,3,5,6])

15

In [51]:
def max(l):
    max=l[0]
    for i in range(1,len(l)):
        if l[i]>max:
            max=l[i]
    return max

In [52]:
max([3,4,7,2,9])

9

In [53]:
def max_index(l):
    max=l[0]
    flag=0
    for i in range(1,len(l)):
        if l[i]>max:
            max=l[i]
            flag=i
    return "max value is %d,index is %d"%(max,flag)

In [54]:
max_index([3,4,7,2,9])

'max value is 9,index is 4'

In [55]:
def reverse_list(l):
    reverse_l=[]
    length=len(l)
    for i in range(length):
        reverse_l.append(l[length-i-1])
    return  reverse_l

In [56]:
reverse_list([4,5,6,7,8])

[8, 7, 6, 5, 4]

In [57]:
def is_sorted(list):
    for i in range(len(list)-1):
        if list[i+1]<list[i]:
            return False
    return True

In [58]:
is_sorted([1,2,2,3])

True

In [59]:
is_sorted([1,2,3,2])

False

In [60]:
def is_sorted_dec(list):
    for i in range(len(list)-1):
        if list[i+1]>list[i]:
            return False
    return True

In [61]:
is_sorted_dec([5,2,2,1])

True

In [62]:
def has_duplicates(list):
    for i in range(len(list)):
        for j in range(i+1,len(list)):
            if list[i]==list[j]:
                return True
    return False

In [63]:
has_duplicates([1,4,3,5,3])

True

In [64]:
has_duplicates([1,2,4,5,7])

False

### 5.2  Exercises with the while statement

In [65]:
def odd_order(n):
    x=n
    while x<=n and x>0:
        if x%2==0:
            print("Even number: %d"%x)
        else:
            print("Odd number: %d"%x)
        x=x-1

In [66]:
odd_order(10)

Even number: 10
Odd number: 9
Even number: 8
Odd number: 7
Even number: 6
Odd number: 5
Even number: 4
Odd number: 3
Even number: 2
Odd number: 1

## chap 6   Dictionaries

### 6.1  Exercises with dict

In [67]:
ages={
    "Peter":10,
    "Isabel":11,
    "Anna":9,
    "Thomas":10,
    "Bob":10,
    "Joseph":11
}

In [68]:
len(ages)

6

In [69]:
def avg_age(dict):
    sum=0
    for name,age in dict.items():
        sum=sum+age
    return sum/len(dict)

In [70]:
avg_age(ages)

10.166666666666666

### dict.keys()为dict_keys object，需用list()将其转换为list

In [71]:
def oldest_student(dict):
    flag_name=list(dict.keys())[0]
    flag_age=dict[flag_name]
    for name in dict:
        if dict[name]>flag_age:
            flag_age=dict[name]
            flag_name=name
    return flag_name

In [72]:
oldest_student(ages)

'Isabel'

In [73]:
def new_ages(dict,n):
    new_ages={}
    for name in dict:
        if dict[name]==n:
            new_ages[name]=n
    return new_ages

In [74]:
new_ages(ages,10)

{'Bob': 10, 'Peter': 10, 'Thomas': 10}

### 6.2 Exercises with sub-dict

In [75]:
students={
    "Peter":{"age":10,"address":"aaa"},
    "Isabel":{"age":11,"address":"bbb"},
    "Anna":{"age":9,"address":"ccc"}
}

In [76]:
len(students)

3

In [77]:
def avg_age_subdict(stud):
    sum=0
    for name in stud:
        sum=sum+stud[name]["age"]
    return sum/len(stud)

In [78]:
avg_age_subdict(students)

10.0

In [79]:
def find_students(stud,addr):
    name_addr=[]
    for name in stud:
        if stud[name]["address"]==addr:
            name_addr.append(name)
    return name_addr

In [80]:
find_students(students,"aaa")

['Peter']

## chap 7  Classes

### 7.1 Exercises with classes

In [81]:
class Rectangle:
    def __init__(self):
        pass
    
    def width(self,width):
        self.width=width
        return self.width
    
    def height(self,height):
        self.height=height
        return self.height
    
    def area(self):
        return self.height*self.width
    
    def circumference(self):
        return self.height*2+self.width*2

In [82]:
object1=Rectangle()
object1.width(3)
object1.height(5)
object1.area()

15

In [83]:
object1.circumference()

16

### 7.2 Exercises with class inheritance

In [84]:
class Square(Rectangle):
    def __init__(self,x):
        super().__init__()
        self.width=x
        self.height=x

In [85]:
square1=Square(4)
square1.area()

16